@import "~bootstrap/scss/bootstrap";
///////////////////////////
/// GENERAL
///////////////////////////
body,
html {
    height: 100%;
    font-family: "Open Sans" !important;
    position: relative;
}
.order-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}
.order-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
h1,
a,
p,
span {
    letter-spacing: 1px;
    color: white;
}
h1 {
    font-size: 1.8rem;
    color: white;
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.5;
}
a {
    font-size: 0.8rem;
    font-weight: 500;
}
p {
    font-size: 1rem;
    font-weight: 1000;
    color: white;
}
a:hover {
    opacity: 0.6 !important;
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}
///////////////////////////
/// Pre-loader
///////////////////////////
#page-container {
    position: relative;
    min-height: 100vh;
}
#overlayer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: #623AB4;
}
.loader {
    background-image: url(./assets/logo-preloader-white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 10%;
    height: 15%;
    position: absolute;
    z-index: 3;
    top: 48%;
    animation: loader 2.8s infinite ease;
    left: 47%;
    right: 53%;
}
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
}
@keyframes loader {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
///////////////////////////
/// Background Image
///////////////////////////
.bg-img {
    background: url(./assets/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: auto;
    position: absolute;
    display: block;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
    filter: FlipH;
    -ms-filter: "FlipH";
}
.overlay {
    background: rgba($color: #000000, $alpha: 0.3);
    height: 100vh;
    width: auto;
}
.navbar-dark .navbar-toggler-icon {
    background-image: none;
}
///////////////////////////
/// MENIU
///////////////////////////
.collapsing {
    position: absolute;
    height: 0;
    overflow: hidden;
    -webkit-transition: 0;
    -o-transition: 0;
    transition: 0;
}
.logo {
    height: 21px;
    width: auto;
}
.navbar {
    padding: 2rem 0rem;
}
.navbar-toggler {
    border: none !important;
    padding: 0.25rem 0;
}
.navbar-toggler-icon {
    height: 1.2em;
    width: 20px;
}
.nav-link {
    color: white !important;
    float: right;
}
.on-sale {
    color: #FFC800;
    position: absolute;
    font-size: 0.6rem;
    -webkit-transform: translate(-116px, -8px);
    -ms-transform: translate(-116px, -8px);
    transform: translate(-116px, -8px);
    min-width: 40px;
}
button:focus {
    outline: none;
}
///////////////////////////
/// Counter
///////////////////////////
.offer-padding {
    padding-top: 60px;
}
.padding {
    padding-top: 3rem;
}
.countdown-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 250px 25px 0;
}
.days-container,
.hours-container,
.minutes-container,
.seconds-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 50px;
    color: white;
}
.days,
.hours,
.minutes,
.seconds {
    font-size: 1.3em;
    margin: 10px 0 0 0;
    font-weight: 700;
}
.days-label,
.hours-label,
.minutes-label,
.seconds-label {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 0.7rem;
    font-weight: 800;
}
.arrow-right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 10px;
    border-color: transparent transparent transparent #fd5053;
}
.arrow-left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 10px 7px 0;
    border-color: transparent #fd5053 transparent transparent;
}
.arrow-left-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.arrow-right-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
///////////////////////////
/// PRICE
///////////////////////////
.text-center {
    padding: 5px;
    font-weight: 700;
}
.btn-primary {
    color: #fff;
    background-color: #fd5052;
    border-color: #fd5052;
    font-size: 1.1rem;
    padding: 15px 45px;
    font-weight: 500;
    &:hover {
        color: #fff;
        background-color: #fd5052;
        border-color: #fd5052;
        opacity: 0.6;
        -webkit-transition: all ease-in-out .3s;
        -o-transition: all ease-in-out .3s;
        transition: all ease-in-out .3s;
    }
    &:active,
    :visited {
        background-color: #fd5052 !important;
        border-color: #fd5052 !important;
        text-decoration: none;
    }
    &:focus {
        outline: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
}
.speech-bubble {
    position: relative;
    background: #fd9c9c;
    width: 120px;
    height: 37px;
    margin-top: 80px;
    left: 66px;
}
.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 50;
    border: 12px solid transparent;
    border-top-color: #fd9c9c;
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -12px;
}
.dollar-sign {
    font-size: 7rem;
    font-weight: 700;
    font-family: Sans-serif;

}
.dollar {
    font-size: 21rem;
    font-weight: 700;
    font-family: "Open Sans";
    line-height: 0.87;
}
div.inline {
    float: left;
}
.clearBoth {
    clear: both;
}
.inline-dollar-sign {
    margin-top: 80px;
    margin-left: -15px;
}
.inline-dollar {
    margin-top: -75px;
}
.inline-cents {
    margin-top: 60px;
}
.cents {
    font-size: 6rem;
    font-weight: 700;
}
.per-month {
    font-size: 3.5rem;
    font-weight: 500;
    margin-top: 20px;
    line-height: 2;
}
///////////////////////////
/// FOOTER
///////////////////////////
#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* Footer height */
}
.footer-padding {
    padding-right: 10px;
}
.footer-text {
    color: white;
    font-size: 0.9rem;
    line-height: 2.5;
}
.center {
    text-align: center;
    float: none !important;
}
.fa-check {
    padding-right: 5px;
    color: #7cc678;
}
///////////////////////////
/// RESPONSIVE
///////////////////////////
@media (min-width: 1400px) {
    .container {
        max-width: 1360px;
    }
    h1 {
        font-size: 2.8rem;
    }
    a {
        font-size: 0.9rem;
        font-weight: 700;
    }
    .days,
    .hours,
    .minutes,
    .seconds {
        font-size: 1.85em;
        margin: 10px 0 0 0;
        font-weight: 700;
    }
    .countdown-container {
        padding: 0 0 30px 35px;
    }
    .dollar-sign {
        font-size: 9rem;
    }
    .dollar {
        font-size: 24rem;
    }
    .cents {
        font-size: 8rem;
    }
    .per-month {
        font-size: 5.5rem;
        line-height: 1;
    }
    .footer-text {
        font-size: 1rem;
    }
    .on-sale {
        font-size: 0.7rem;
        -webkit-transform: translate(-129px, -8px);
        -ms-transform: translate(-129px, -8px);
        transform: translate(-129px, -8px);
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .countdown-container {
        padding: 0 170px 25px 0;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    ///////////////////////////
    /// MENIU
    ///////////////////////////
    .navbar {
        position: relative;
    }
    a {
        font-size: 0.7rem;
    }
    h1 {
        font-size: 1.4rem;
    }
    p {
        font-size: 0.8rem;
    }
    .ml-auto {
        margin-left: auto !important;
        width: 100%;
        background: rgba(255, 255, 255, 0.94);
        padding: 10px 0 10px 20px;
        border-radius: 5px;
        position: absolute;
        right: 0;
        z-index: 9999;
    }
    .nav-link {
        color: black !important;
        float: left;
    }
    .on-sale {
        font-size: 0.55rem;
        -webkit-transform: translate(-104px, -8px);
        -ms-transform: translate(-104px, -8px);
        transform: translate(-104px, -8px);
    }
    .days,
    .hours,
    .minutes,
    .seconds {
        font-size: 1rem;
    }
    .days-label,
    .hours-label,
    .minutes-label,
    .seconds-label {
        font-size: 0.6rem;
    }
    .inline-dollar {
        margin-left: -10px;
    }
    .dollar-sign {
        font-size: 5rem;
    }
    .dollar {
        font-size: 17rem;
    }
    .cents {
        font-size: 4rem;
    }
    .per-month {
        font-size: 3rem;
    }
    .countdown-container {
        padding: 0 105px 25px 0;
    }
    .speech-bubble {
        width: 110px;
        height: 30px;
        margin-top: 90px;
        left: 48px;
    }
    .btn-primary {
        font-size: 0.9rem;
        padding: 12px 42px;
    }
}
@media (min-width: 576px) and (max-width:767px) {
    a {
        font-size: .8rem;
        font-weight: 500;
        letter-spacing: 1px;
    }
    h1 {
        font-size: 1.4rem;
    }
    p {
        font-size: 0.8rem;
    }
    .container {
        max-width: 540px;
    }
    .order-sm-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        text-align: center;
        text-align: -moz-center;
    }
    .order-sm-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .padding {
        padding: 0;
    }
    .navbar {
        padding: 2rem 0 0 0;
    }
    .ml-auto {
        margin-left: auto !important;
        width: 100%;
        background: rgba(255, 255, 255, 0.94);
        padding: 10px 0 10px 20px;
        border-radius: 5px;
        position: absolute;
        right: 0;
        z-index: 9999;
    }
    .nav-link {
        color: black !important;
        float: left;
    }
    .on-sale {
        font-size: .6rem;
        -webkit-transform: translate(-116px, -8px);
        -ms-transform: translate(-116px, -8px);
        transform: translate(-116px, -8px);
    }
    .dollar-sign {
        font-size: 5rem;
    }
    .dollar {
        font-size: 14rem;
    }
    .cents {
        font-size: 3rem;
    }
    .per-month {
        font-size: 2rem;
    }
    .text-center {
        padding: 10px;
    }
    .countdown-container {
        padding: 0 100px 25px 100px;
    }
    .offer-padding {
        padding-top: 5px;
    }
    .footer-text {
        font-size: 0.8rem;
        line-height: 1;
    }
    .speech-bubble {
        left: 26px;
    }
}
@media(max-width:575px) {
    a {
        font-size: 0.9rem;
    }
    h1 {
        font-size: 1.4rem;
        margin-bottom: 0;
    }
    p {
        font-size: 0.8rem;
    }
    .container {
        max-width: 540px;
    }
    .order-sm-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        text-align: center;
        text-align: -moz-center;
    }
    .order-sm-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .padding {
        padding: 0;
    }
    .navbar {
        padding-top: 0.5rem !important;
    }
    .ml-auto {
        margin-left: auto !important;
        width: 100%;
        background: rgba(255, 255, 255, 0.94);
        padding: 10px 0 10px 20px;
        border-radius: 5px;
        position: absolute;
        right: 0;
        z-index: 9999;
    }
    .nav-link {
        color: black !important;
        float: left;
    }
    .on-sale {
        font-size: 0.6rem;
        -webkit-transform: translate(-128px, -8px);
        -ms-transform: translate(-128px, -8px);
        transform: translate(-128px, -8px);
    }
    .dollar-sign {
        font-size: 5rem;
    }
    .dollar {
        font-size: 14rem;
        line-height: 0.97;
    }
    .cents {
        font-size: 3rem;
    }
    .per-month {
        font-size: 2rem;
    }
    .text-center {
        padding: 10px;
    }
    .countdown-container {
        padding: 0 30px 15px 30px;
    }
    .offer-padding {
        padding-top: 5px;
    }
    .footer-text {
        font-size: 0.8rem;
        line-height: 1;
    }
    .speech-bubble {
        left: 28px;
    }
}
///////////////////////////
/// RESPONSIVE - HORIZONTAL FOR PHONES AND VERTICLE FOR TABLETURES
///////////////////////////
@media (min-height: 1024px) and (max-height: 1366px)and (min-width: 768px) and (max-width: 1024px) {
    .order-sm-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        text-align: center;
        text-align: -moz-center;
    }
    .order-sm-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .col-12-tableture {
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    a {
        font-size: 1rem;
    }
    h1 {
        font-size: 2.8rem;
    }
    .logo {
        height: 25px;
    }
    .on-sale {
        -webkit-transform: translate(-143px, -8px);
        -ms-transform: translate(-143px, -8px);
        transform: translate(-143px, -8px);
    }
    .countdown-container {
        padding: 0 25% 25px 25%;
    }
    .days,
    .hours,
    .minutes,
    .seconds {
        font-size: 2.3em;
    }
    .days-label,
    .hours-label,
    .minutes-label,
    .seconds-label {
        font-size: 0.9rem;
    }
    .btn-primary {
        font-size: 1.5rem;
    }
    .footer-text {
        font-size: 1.2rem;
    }
}
@media (min-height: 0px) and (max-height: 414px)and (min-width: 567px) and (max-width: 812px) and (orientation: landscape) {
    .col-6-mobile {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .order-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .order-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .order-sm-2 {
        text-align: left;
    }
    h1 {
        font-size: 1.2rem;
    }
    .navbar {
        padding: 0.5rem 0 0 0;
    }
    .on-sale {
        font-size: 0.6rem;
        -webkit-transform: translate(-115px, -8px);
        -ms-transform: translate(-115px, -8px);
        transform: translate(-115px, -8px);
    }
    .offer-padding {
        padding-top: 50px;
    }
    .countdown-container {
        padding: 0 45px 10px 0;
    }
    .btn-primary {
        font-size: 0.7rem;
        padding: 10px 35px;
    }
    .days,
    .hours,
    .minutes,
    .seconds {
        font-size: 1em;
    }
    .days-label,
    .hours-label,
    .minutes-label,
    .seconds-label {
        font-size: 0.55rem;
    }
    .dollar-sign {
        font-size: 4rem;
    }
    .dollar {
        font-size: 12rem;
        line-height: 0.97;
    }
    .speech-bubble {
        width: 110px;
        height: 30px;
        left: 24px;
    }
    .speech-bubble:after {
        margin-bottom: -11px;
    }
    .text-center {
        padding: 6px;
    }
    .inline-dollar-sign {
        margin-top: 30px;
    }
}
@media (max-height : 568px) and (max-width : 360px) {
    #footer {
        height: 8px;
    }
    .bg-img {
        height: 116vh;
    }
    .overlay {
        height: 116vh;
    }
}